.success {
    background-color: green;
    color: white;
}

.success::before {
    content: "✓";
    font-size:4rem;
}

.warning {
    background-color: rgb(226, 0, 0);
    color: black;
}

.warning::before {
    content:⚠;
    font-size: 4 rem;
}

.success, .warning {
    padding: 1em;
}