.fridayClass {
    background-color: #ff0000;
    background-size:contain;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 10px;

}

/*.fridayClass a {
    color: #0066cc;
    text-decoration: underline;
    text-shadow: #ffe4e1;
}*/

iframe {
    width: 100%;
    height: 400px;
    align-content: center;
    margin: auto;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

style{
    margin:auto;
    text-align: center;
}
