html {
    box-sizing: border-box;
    font-size: 16px; /* Define a base font size */
    max-width: 100%;
    height: auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, sans-serif; /* Define a default font family */
    line-height: 1.5;
    background-color: #f0f0f0; /* Choose a background color */
    overflow-x: hidden;

}

/* Define styles for different screen sizes */
@media screen and (max-width: 768px) {
    /* Styles for screens with a width of 768px or smaller (e.g., mobile devices) */
    body {
        font-size: 14px; /* Adjust the font size for smaller screens */
    }

    /* Add more specific styles for mobile layout as needed */
}

/* For larger screens (e.g., computers), you may need to define specific styles */

/* Example: Centering a container on the page */

